.heading{
    display: flex;
    justify-content: center;
}
#calc{
    padding: 40px 500px;
}
#calculator{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 250px;
}
#display{
    margin: 20px;
    width: 80%;
    font-size: 30px;
}
.button{
    width: 40px;
    height: 40px;
    margin: 3px;
}
.button-container{
    display: flex;
    justify-content: center;
}